<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PJQuicklyDev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CAAD19471E9E56370046E69B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>CAAD195B1E9E56370046E69B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
		<key>CAAD19661E9E56370046E69B</key>
		<dict>
			<key>primary</key>
			<true />
		</dict>
	</dict>
</dict>
</plist>
